<form>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="input" class="form-control" id="stock" placeholder="Stock Ticker">
    </div>
    <h2>Choose a sector to show data for those stocks</h2>
    <button type="submit" class="btn btn-default" id="tech">Technology Stocks</button>
    <button type="submit" class="btn btn-default" id="fin">Financial Stocks</button>
    <button type="submit" class="btn btn-default" id="healthcare">Healthcare Stocks</button>
  </form>

  <script src="getstock.js"></script>
